# {{ ansible_managed }}
#
# Configuration file for Synapse.
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html
#
listeners:
  - port: {{ matrix_synapse_port }}
    tls: {{ matrix_synapse_tls_enable }}
    type: http
    x_forwarded: {{ matrix_synapse_x_forward }}
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client, federation]
        compress: false

database:
  name: psycopg2
  txn_limit: 10000
  args:
    user: {{ matrix_synapse_database_user }}
    password: {{ matrix_synapse_database_password }}
    database: {{ matrix_synapse_database_name }}
    host: localhost
    cp_min: 5
    cp_max: 10

{% if matrix_synapse_tls_certificate != none and matrix_synapse_tls_key != none %}
# TLS / HTTPS
tls_certificate_path: "/etc/matrix-synapse/{{ matrix_synapse_domain }}.tls.crt"
tls_private_key_path: "/etc/matrix-synapse/{{ matrix_synapse_domain }}.tls.key"

{% endif %}
# Uploads
media_store_path: {{ matrix_synapse_media_store_path }}
max_upload_size: {{ matrix_synapse_max_upload_size }}

# Debian Defaults
pid_file: "/var/run/matrix-synapse.pid"
log_config: "/etc/matrix-synapse/log.yaml"
signing_key_path: "/etc/matrix-synapse/homeserver.signing.key"
